*border:izing{border-box;height:100px;
}

img {
    height: 130px;
    margin-top: 68px;
    margin-left: -9px;
}}

body{background-color: rgb(238,238,238);}

.answer{background-color: rgb(238,238,238);border 2px border-color: lightgrey;border-style: solid;}

#answer1{background-color:rgb(238,238,238);height:100px;border 2px border-color: lightgrey;border-style: solid;}

#answer2{background-color:rgb(238,238,238);height:100px;border 2px border-color: lightgrey;border-style: solid;}

#answer3{background-color:rgb(238,238,238);height:100px;border 2px border-color: lightgrey;border-style: solid;}

#answer4{background-color:rgb(238,238,238);height:100px;border 2px border-color: lightgrey;border-style: solid;}

#answer5{background-color:rgb(238,238,238);height:100px;border 2px border-color: lightgrey;border-style: solid;}

#answer6{background-color:rgb(238,238,238);height:100px;border 2px border-color: lightgrey;border-style: solid;}


footer{background-color: rgb(76,71,79);}




